body {
    min-height: 100%;

    background: linear-gradient(cyan,lightgreen);
}
html {
    height: 100%;
}
div{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}
table{
  align-self: center;
  table-layout: fixed;
  width: 75%;
  margin: auto;
}
button{
  align-self: center;
  color: white;
  background: darkred;
  font-size: 14px;
  border: none;

}
button:hover{
  opacity: .25;
}
#game{
  margin: 100px;
  width: 88%;
}
div.red {
  background: red;
  padding: 50px;
  display: inline;
}
div.green {
  background: green;
  padding: 50px;
display: inline;
}
div.yellow {
  display: inline;
  background: yellow;
  padding: 50px;
}
div.blue {
  display: inline;
  background: blue;
  padding: 50px;
}
div.indigo {
  display: inline;
  background: indigo;
  padding: 50px;
}
div.orange {
  display: inline;
  background: orange;
  padding: 50px;
}
div.pink {
  display: inline;
  background: pink;
  padding: 50px;
}
div.purple {
  background: purple;
  padding: 50px;
display: inline;
}
div.red:hover {
  display: inline;


  background: red;
  padding: 60px;
  border: 4px solid black;
}
div.green:hover {
  display: inline;


  background: green;
  padding: 60px;
  border: 4px solid black;
}
div.yellow:hover {
  display: inline;


  background: yellow;
  padding: 60px;
  border: 4px solid black;
}
div.blue:hover {
  display: inline;


  background: blue;
  padding: 60px;
  border: 4px solid black;
}
div.indigo:hover {
  display: inline;


  background: indigo;
  padding: 60px;
  border: 4px solid black;
}
div.orange:hover {
  display: inline;


  background: orange;
  padding: 60px;
  border: 4px solid black;
}
div.pink:hover {
  display: inline;


  background: pink;
  padding: 60px;
  border: 4px solid black;
}
div.purple:hover {
  display: inline;


  background: purple;
  padding: 60px;
  border: 4px solid black;
}
.toggle{
  animation: color 2s linear;
  padding: 50px;
display: inline;
}
h2 {
  text-shadow: 4px 4px 8px black;
  animation:colors 10s linear infinite;
  padding: 50px;
  /*animation:height 15s linear infinite;*/
}
@keyframes colors {
  0%,100% {color:red; }
  14% {color:orange;}
  28% {color:yellow;}
  42% {color:green;}
  56% {color:blue;}
  70% {color:indigo;}
  84% {color:violet;}
}
@keyframes color {
  0%,100% {background:red; }
  14% {background: orange;}
  28% {background: yellow;}
  42% {background: green;}
  56% {background: blue;}
  70% {background: indigo;}
  84% {background: violet;}
}
